.slide {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 334px;
    overflow-x: hidden;
    transition: 0.3s ease;
    scroll-behavior: smooth;
}

.slide .slide-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.slide .slide-item span {
    font-size: 210px;
    color: black;
    -webkit-text-stroke: 4px #595959;
}

.slide .slide-item img {
    width: 120px;
    object-fit: cover;
    margin-left: -25px;
}

.title-section {
    margin: 10px 0 0 20px;
    font-size: 20px;
    font-weight: 500;
}

.btn-slide-left, .btn-slide-right {
    position: absolute;
    z-index: 1;
    height: 100%;
    border: none;
    cursor: pointer;
    width: 100px;
    height: 200px;
    opacity: 0;
    transition: 0.3s ease;
}

.btn-slide-left:hover, .btn-slide-right:hover {
    opacity: 1;
}

.btn-slide-left i {
    margin-left: -40px;
}

.btn-slide-right i {
    margin-right: -40px;
}

.btn-slide-left i, .btn-slide-right i {
    color: white;
    font-size: 52px;
}
.btn-slide-left {
    left: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0.00) 100%);
    
}
.btn-slide-right {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: linear-gradient(280deg, #000 0%, rgba(0, 0, 0, 0.00) 100%);
    right: 0;
}